export const environment = {
  production: true,
  environment: 'production',
  firebaseConfig: {
    apiKey: "",
    authDomain: "FIREBASE_PROJECT_ID.firebaseapp.com",
    databaseURL: "https://FIREBASE_PROJECT_ID.firebaseio.com",
    projectId: "FIREBASE_PROJECT_ID",
    storageBucket: "FIREBASE_PROJECT_ID.appspot.com",
    messagingSenderId: "",
    appId: ""
  }
};